body{
    margin: 0;
    padding: 0; 
    background-color: #e1e1e1;
}
/* PRAROZ, 2021
How To Create A Website using HTML & CSS | Step-by-Step Tutorial.
YouTube video
https://youtu.be/CQZxeoQeo5c
Accessed at: 2 Setember 2024
 until btn*/
 .main {
    height: 45vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/banner.png);
    background-position: center;
    position: relative;
  }
  .mainl {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/life.jpeg);
    background-position: center;
    position: relative;
  }
  .mainla {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/land.jpg);
    background-position: center;
    position: relative;
  }
  .mains {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/sewing.jpg);
    background-position: center;
    position: relative;
  }
  .mainf {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/first.jpg);
    background-position: center;
    position: relative;
  }
  .mainc {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/child.jpeg);
    background-position: center;
    position: relative;
  }
  .mainco {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/cooking.jpeg);
    background-position: center;
    position: relative;
  }
  .maing {
    height: 55vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
      url(images/garden.jpg);
    background-position: center;
    position: relative;
  }
  .mainn {
    width: 100%;
    background-color: #63a375;
    height: 15vh;
  }
  
  .main h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    size: 50px;
  }
  .main h2 {
    text-align: center;
    color: #fff;
    font-weight: 400;
    size: 50px;
  }
  .main h3 {
    text-align: center;
    color: #fff;
    font-weight: 200;
    size: 50px;
    margin-left: 370px;
  }
  
.navbar {
    width: 85%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.icon {
    display: flex;
    align-items: center;
}
/*
Easy WebCode, 2022.
How To Create Rounded And Circular Images In HTML And CSS Tutorial.
YouTube video
 https://youtu.be/AEgTw3xl53o?si=miJ9dxAfvVTiYA1g
 Accessed at: 2 Setember 2024
 icon img*/
.icon img {
    border-radius: 50%;
    object-fit: cover;
    width: 80px; 
    height: 80px;
    margin-right: 15px; 
}

.icon h2 {
    font-family: 'Times New Roman';
    font-size: 24px; 
    letter-spacing: 2px;
    color: #fff;
    margin: 0; 
}

.menu {
    width: auto; 
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-right: 20px;
}

ul li {
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.4s ease-in-out;
}

 ul li a:hover {
    color: #6b2738;
}
.fa-cart-shopping{
    font-size: 20px;
}
.fa-user{
    font-size: 20px;
}
.menu .fa{
    display: none;
}
.navbar .fa{
    display: none;
}

.search {
    display: flex;
    align-items: center;
}

.srch {
    padding: 5px 10px;
    border: 1px solid #6b2738;
    border-radius: 5px;
}

.btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #6b2738;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #fff;
    color: #6b2738;
}

.cont {
    margin: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
}


.content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin: 20px;
        height: auto;
        padding: 20px;
        margin-top: 15px;
        background-color: #fff;
        border-radius: 8px;
    }
.image-content {
    max-width: 50%;
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.image-content img {
    max-width: 100%;
    height: auto;
}

.text-content {
    max-width: 50%;
    text-align: left;
    background-color: #fff;
    border-radius: 8px; 
    padding: 10px;
    margin-top: 100px;
}

.text-content h2 {
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 35px;
    letter-spacing: 2px;
    color: #353D2f;
}

.text-content p {
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 15px; 
    color: #000;
    margin-bottom: 20px; 
    
}

.button {
    width: 160px;
    height: 40px;

    margin: 20px auto;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition:  0.4s ease;
    font-weight: bold;
    font-family: Arial;
    color: #353D2f;
}

.button a {
    text-decoration: none;
    color: #000;
}

.button:hover {
    background-color: #6b2738;
}


/*  PRAROZ, 2021
How To Create A Website using HTML & CSS | Step-by-Step Tutorial.
YouTube video
https://youtu.be/CQZxeoQeo5c
Accessed at: 2 Setember 2024
contented*/
.contented {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 15px; 
    background-color: #fff;
    margin-top: 15px;
}

.text-contented {
    max-width: 50%;
    text-align: left;
    margin-left: 10px; 
    margin-bottom: 20px;
    background-color: #fff;
}

.text-contented h2 {
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 35px;
    letter-spacing: 2px;
    color: #353D2f;
}

.text-contented p {
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 15px; 
    color: #000;
    margin-bottom: 20px; 
}

.image-contented {
    display: flex;
    justify-content: flex-end;
    margin-right: 10px; 
    align-items: center; 
}

.image-contented img {
    max-width: 100%;
    height: auto;
    object-fit: contain; 
}
.box {
    max-width: 100%;
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
   box-shadow :0.3s ease; /* Smooth transition */
}

.box:hover {
    background-color: #e0e0e0; /* Change background on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}
.conteudodos {
    width: 600px;
    height: auto;
    text-align: left;
    margin-left: 450px;
    padding: 20px;
    background-color: #fff;
}
.conteudodos h1 {
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 40px;
    letter-spacing: 2px;
    color: #353D2f;
}

.conteudodos h2 {
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 35px;
    letter-spacing: 2px;
    color: #353D2f;
}
.conteudodos p{
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 15px; 
    color: #000;
    margin-bottom: 20px; 
}
.image{
   margin-left: 62px;
   align-items: center;
   margin-top: 13px; 
}

.image h1{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 40px;
    letter-spacing: 2px;
    color: #353D2f;
}

.conteudo {
    text-align: center;
    padding: 20px;
}
.conteudo h1 {
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 40px;
    letter-spacing: 2px;
    color: #353D2f;
}

.conteudo h2 {
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 35px;
    letter-spacing: 2px;
    color: #353D2f;
}
h3{
    max-width: 50%;
    text-align: left;
    margin-bottom: 20px;
    font-family: 'Times New Roman';
    font-size: 20px;
    letter-spacing: 2px;
    color: #353D2f;
}

table {
    width: 100%;
    margin: 0 auto;
}

table td {
    vertical-align: top;
    padding: 10px;
}
  /*
The IIE,2024.WEDE5020/d/p/w
MODULE MANUAL/GUIDE. 2012
Sam's Movies
hover efect*/
.map-frame {
    border: 2px solid #63A375; 
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    margin: 20px auto; 
    display: block; 
    transition: transform 0.3s ease-in-out; 
}

.map-frame:hover {
    transform: scale(1.02); 
}

.miniscreen1{
    text-align: center;
    padding: 10px;
    width: 410px;
    height: 460px;  
   display: inline-block;
   border: 2px solid #BFCC94; 
   border-radius: 10px;
   transition:  transform 0.3s ease;
}

.miniscreen1:hover{
    transform: scale(1.05);
}
.miniscreen2{
    text-align: center;
    padding: 10px;
    width: 250px;
    height:319px;
    border: 2px solid #BFCC94; 
    border-radius: 10px; 
   display: inline-block;
   transition:  transform 0.3s ease;
}
.miniscreen2:hover{
    transform: scale(1.05);
}

.miniscreen3 {
    text-align: center;
    padding: 10px;
    width: 400px;
    height: auto;
    background-color: #BFCC94;  
    display: inline-block;
    transition: background-color 0.3s ease-in-out;
}

.miniscreen3:hover {
    background-color: #aabe83; 
}
/*end here*/

.conteudoCourses {
    max-width: 100%;
    padding: 20px;
    text-align: center;
  }

  
  .conteudoCourses img {
    max-width: 1366px;
    height: 660;
    border-radius: 10px;
  }
 
  
  .conteudoCourses h2 {
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 35px;
    letter-spacing: 2px;
    color: #353d2f;
    text-align: center;
  }
  
  .conteudoCourses p {
    font-style: italic;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    width: 750px;
    
  }
  /*
The IIE,2024.WEDE5020/d/p/w
MODULE MANUAL/GUIDE. 2012
Sam's Movies
hover efect*/
  .box1 {
    padding: 20px;
    text-align: left;
    height: auto;
    width: 750px;
    height: auto;
    margin-left: 350px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Apply transition for both background-color and box-shadow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Initial shadow */
}
.box2{
    padding: 20px;
    text-align: center;
    height: auto;
    width: 750px;
    height: auto;
    margin-left: 320px;
}
.inframe{
    border: 2px solid #63A375; 
    border-radius: 10px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
    margin: 20px auto; 
    display: block; 
    transition: transform 0.3s ease-in-out; 
}

.box1:hover {
    background-color: #e0e0e0; /* Change background on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
}
  

  
  .box1 h2 {
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 35px;
    letter-spacing: 2px;
    color: #353d2f;
    text-align: left;
    
  }
  
  .box1 p {
    font-family: Arial, sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 15px;
    color: #000;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
  }

  .table-style {
align-self: center;
background-color: #ccc;
width: 550px;
margin-top: 150px;
margin-bottom: 50px;
}
.table-style h2{
    font-family: 'Times New Roman';
    font-size: 30px;
    letter-spacing: 2px;
    color: #353D2f;
    margin-top: 2px;
    margin-bottom: 5px;
}
.table-style p{
    font-family: Arial, sans-serif;
    letter-spacing: 1.2px;
    line-height: 1.5;
    font-size: 15px;
    color: #000;
}

.td1{
    width: 60px;
}
.connt{
    width: 600px;
    height: auto;
    text-align: left;
    margin-left: 450px;

    background-color: #ccc;
}

  .btns{
    width: 80px;
    background: #6b2738;
    border: 0;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
    text-align: center;
    margin-top: 50px;
    margin-left: 200px;
    transition: background-color 0.4s ease;
  }
  .btns:hover {
    background-color: #fff;
}

.popup{
    width: 100%;
    max-width: 700px; 
    margin-top: 470px;
    background-color: #ddd;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #333;
    visibility: hidden;
    transition: transform o.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
}

  /*
Web CodePro
 YouTube video
 How To Make Simple Payment Page Using HTML & CSS | HTML CSS Tutorial For Beginners
 2021
 available at:https://youtu.be/lN9B4uvqVBU?si=I-4UzUnefFOW1vUm
 Accesse at:23/09/2024
*/ 
  .container {
    width: 100%;
    max-width: 600px;
    height: auto;
    border: 1px solid #ddd;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-around;
    margin-top: 20px;
    margin: 100px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius:0;
}

.container h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.first-row, .second-row, .third-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.owner, .cvv, .card-number {
    width: 48%;
}

.input-field {
    border: 1px solid #999;
    border-radius: 0;
}

.input-field input {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 0;
    font-size: 16px;
}

.selection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.selection select {
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid #999;
}

.container .botao {
    background-color: blueviolet;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px;
    font-size: 18px;
    border-radius: 35px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    display: block;
}

.container .botao:hover {
    background-color: dodgerblue;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.cards img {
    width: 50px;
    height: auto;
}

.form-log {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    max-width: 300px;
    width: 100%;
    margin-top: 150px;
    margin-left: 600px;
    text-align: center;
}

.form-log form {
    display: flex;
    flex-direction: column;
}
.form-log input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
.form-log input::placeholder {
    color: #999;
    font-size: 12px;
}
.form-log h2{
    margin-bottom: 20px;
    font-family: 'Times New Roman', serif;
    font-size: 35px;
    letter-spacing: 2px;
    color: #353d2f;
    text-align: left;
}
.buttons{
    margin-bottom: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 20px;
    letter-spacing: 2px;
    color: #353d2f;
    border: 0;
    cursor: pointer;
    transition: 0.4s ease;
}
.buttons:hover{
    color: #1877f2;
}

footer {
    background-color: #333;
    height: auto; 
    padding: 20px 0;
    text-align: center;
}

footer p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 10px; 
}
footer li {
        display: inline-block; /* Ensure list items are inline */
    }

    
.fa-instagram {
    font-size: 35px;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}
.fa-x-twitter{
    font-size: 35px;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}
.fa-square-facebook{
    font-size: 35px;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease;
}
.fa-envelope{
    font-size: 35px;
    color: #fff;
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth transition for color and scale */
}

.fa-instagram:hover {
    color: #e4405f; 
    transform: scale(1.1); 
}

.fa-x-twitter:hover {
    color: #000; 
    transform: scale(1.1); 
}

.fa-square-facebook:hover {
    color: #1877f2; 
    transform: scale(1.1); 
}

.fa-envelope:hover {
    color: #d14836; 
    transform: scale(1.1); 
}
/*  Adrian Twarog
CSS Media queries tutorial for responsive Design
YouTube video
https://youtu.be/j1AhSWFcZpg?si=gGP1g9kkGhXGbk8X
Accessed at: 18 Setember 2024
@media query
*/
/* Slaying the Dragon
Master Media queries and responsive css web design like a chameleon
YouTube video
https://youtu.be/K24lUqcT0Ms?si=Sy7Jur7ogEkksKEy
Accessed at: 18 Setember 2024
@media query
*/
@media screen and (max-width: 768px) {
    body{
        display: center;
    }
    .main {
        height: auto;
    }

    .navbar {
        flex-direction: column;
        padding: 10px;
    }
    .navbar .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .icon {
        justify-content: center;
        margin-bottom: 15px;
    }

    /*GreatStack
    YouTube video
    How To Make Website Using HTML & CSS | Full Responsive Multi Page Website Design Step by Step
    2021
    available at:https://youtu.be/oYRda7UtuhA?si=J2gH1iwy5SKf8CMM
    Accessed at:23/09/2024*/
    .menu {
        position: absolute;
        top: 0;
        right: -200px; 
        background-color: #6b2738;
        height: 100vh;
        width: 200px;
        z-index:2;
        text-align: left;
        transition:1s;
    }

    .menu ul {
        flex-direction: column;
        padding: 30px;
        margin: 0;
        gap: 10px;
    }

    .menu ul li {
        text-align: left;
        font-size: 16px;
    }

    .menu .fa {
        display: block;
        color: #fff;
        font-size: 22px;
        margin: 10px;
        cursor: pointer;
    }
/*End here*/
    .search {
        width: 100%;
        margin-top: 10px;
        display: flex; 
        justify-content: space-between;
    }

    .srch {
        width: 70%; 
    }

    .btn {
        width: 25%; 
    }
    .cont {
        max-width: 100%;
        width: 90%;
        display: left;
    }

    .conteudodos {
        max-width: 100%;
        display: left;
        display: center;
        flex-wrap: wrap;
        margin-left: -1px;
    }

     .box1, .box2 {
        max-width: 100%;
        width: 100%;
        padding: 15px; /* Adjust padding as needed */
        text-align: left;
        margin-bottom: 15px;
        margin-left: 0;
    }
    .box {
        max-width: 100%;
        display: left;
        flex-wrap: wrap;
        text-align: left;
    }

    h1, h2 {
        font-size: 2.5rem; /* Adjust heading sizes */
    }

    p {
        font-size: 1rem; /* Adjust body text size */
    }

    .content, .contented, .box1, .box2 {
        max-width: 100%;
        flex-direction: column;
        text-align: center;
    }
    .image img {
        width: 100%;
        height: auto;
        border-radius: 5%;
    }
    
    .image-content, .image-contented {
        max-width: 100%;
        padding-right: 0;
        margin: 0 auto;
    }

    .image-content img, .image-contented img, .conteudoCourses img {
        width: 100%;
        height: auto;
    }

    /* Collapse the text containers for responsiveness */
    .text-content, .text-contented, .conteudoCourses p {
        max-width: 100%;
        padding: 10px;
        margin: 0;
    }

    table {
        display: block;
        overflow-y: auto;
        width: 100%;
    }
    /* Minimize the height and padding of mini screens */
    .miniscreen1, .miniscreen2, .miniscreen3 {
        width: 100%;
        height: auto;
    }

    /* Button adjustments */
    .button {
        width: 100%;
        font-size: 16px;
        margin-top: 10px;
    }
   
      
      .conteudoCourses {
        max-width: 100%;
        display: left;
        flex-wrap: wrap;
      }
      .connt{
        max-width: 100%;
        display: center;
        flex-wrap: wrap;
        margin-left: 1px;
        margin-top: 13px;
      }
      .form-log{
        width: 90%;
        max-width: 100%;
        display: left;
        flex-wrap: wrap;
        margin-left: 1px;
        margin-top: 23px;
      }
      

      

      
}




